/*================================ Global =====================*/
body {
  font-family: "Roboto", "sans-serif";
}

@media (min-width: 1366px) {
  .container {
    width: 1286px;
  }
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.section-title {
  margin-bottom: 78px;
}
.section-title h2 {
  margin: 0;
  font-size: 37px;
  font-weight: 900;
}
.section-title h2:before {
  content: "";
  display: block;
  width: 73px;
  border-bottom: 1px solid #08707a;
  margin-bottom: 15px;
}
.section-title p {
  margin: 0;
  font-size: 29px;
  font-weight: 300;
  line-height: 1.5862068966;
  max-width: 962px;
  margin-top: 20px;
}

/*================================ banner =====================*/
.banner {
  background: url(../images/Group.png) no-repeat;
  background-position: right bottom;
  color: #08707a;
  padding: 72px 0;
  min-height: 655px;
}
.banner h1 {
  margin: 0;
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 5px;
}
.banner p {
  font-size: 29px;
  font-weight: 300;
  line-height: 1.5862068966;
  max-width: 478px;
  margin: 0;
}
.banner ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 45px;
}
.banner ul li {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
.banner ul li:before {
  background: url(../images/g1503-35-1-9-6-8-2-2-7-0-8-6-9-8-8-3-3-1-8-0.png) no-repeat;
  width: 10px;
  height: 18px;
  background-size: 100% 100%;
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 22px;
}

/*================================ Services =====================*/
.services {
  background-color: #032b2f;
  color: #fff;
  padding: 80px 0 50px 0;
}
.services .section-title {
  margin-bottom: 48px;
}
.services .item {
  padding: 30px 0;
}
.services .item .icon {
  margin-bottom: 30px;
}
.services .item h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
.services .item p {
  margin: 0;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.7894736842;
  max-width: 385px;
}

/*================================ main-header =====================*/
.main-header {
  padding: 37px 0;
}

.navbar-nav {
  margin-top: 6px;
}

.navbar-brand {
  height: auto;
}

.navbar-default {
  background: none;
  border: none;
  margin: 0;
}

.navbar-nav > li.current > a {
  border-bottom: 1px solid #08707a;
}

.navbar-nav > li {
  padding: 15px;
}
.navbar-nav > li > a {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #08707a;
}

/*================================ service-slider =====================*/
.service-slider {
  padding: 100px 0;
  background: url(../images/04022019-10.png) no-repeat;
  background-position: top right;
  position: relative;
}
.service-slider:before {
  content: "";
  background-color: #d0d3c5;
  height: 7px;
  position: absolute;
  width: 95%;
  top: 0;
  left: 0;
}
.service-slider .section-title {
  margin-bottom: 37px;
}
.service-slider .section-title h2 {
  display: inline-block;
  color: #08707a;
}
.service-slider .section-title h2:before {
  border-color: #08707a;
}

.paginator {
  display: inline-block;
}
.paginator ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.paginator ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #08707a;
  color: #08707a;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-left: 22px;
}
.paginator ul li i {
  position: relative;
  left: -1px;
  font-size: 30px;
  line-height: 0.9;
}

.slick-slider .item .img {
  width: 395px;
  height: 456px;
}
.slick-slider .item .img img {
  border-top: 5px solid #08707a;
}
.slick-slider .item .text {
  padding: 32px 45px 40px 45px;
  color: #fff;
  width: 395px;
  height: 486px;
  background-color: #032b2f;
  margin-top: -63%;
  position: relative;
  margin-left: 29%;
  margin-bottom: 7px;
}
.slick-slider .item .text:after {
  content: "";
  display: block;
  background-color: #d0d3c5;
  height: 7px;
  width: 94%;
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}
.slick-slider .item .text h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3px;
}
.slick-slider .item .text h2 {
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 20px;
}
.slick-slider .item .text h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  margin: 13px 0 15px 0;
}
.slick-slider .item .text p {
  margin: 0;
  font-size: 16px;
  line-height: 1.75;
}
.slick-slider .item .text ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.slick-slider .item .text ul li {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
}
.slick-slider .item .text ul li:before {
  content: "-";
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
}

/*================================ contact =====================*/
.contact {
  color: #fff;
  padding: 100px 0;
  background: url(../images/footer-contact.png) no-repeat #032b2f;
  background-position: right bottom;
}

.contact-form h2 {
  font-size: 51px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 5px;
}
.contact-form p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6363636364;
  max-width: 435px;
  margin-bottom: 10px;
}
.contact-form label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 0;
}
.contact-form input {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  height: 40px;
  width: 100%;
  max-width: 426px;
}
.contact-form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 135px;
  margin-top: 10px;
  max-width: 551px;
}
.contact-form button {
  width: 267px;
  height: 41px;
  color: #032b2f;
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  border: none;
  margin-top: 66px;
}

.contact-address h3 {
  margin: 0;
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 5px;
}
.contact-address h3:before {
  content: "";
  width: 46px;
  display: block;
  height: 6px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.contact-address .item {
  padding-top: 45px;
}
.contact-address h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 6px;
}
.contact-address h4:before {
  content: "";
  display: block;
  height: 3px;
  width: 46px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.contact-address p {
  margin: 0;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.7894736842;
}
.contact-address a {
  color: #fff;
}

/*================================ main-footer =====================*/
.main-footer {
  background-color: #032b2f;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 22px 0;
}
.main-footer .copy {
  margin-left: 35px;
  line-height: 1.6;
}
.main-footer .footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.main-footer .footer-menu li {
  display: inline-block;
  margin: 3px 25px;
}
.main-footer .footer-menu li:last-child {
  margin-right: 0;
}
.main-footer .footer-menu li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
